@page
@model SmartDietCapstone.Pages.DietModel
@using Models


<div class="text-center container">

    <h1>Diet</h1>
    @if (Model._diet == null || Model.recommendedCalories == 0)
    {


        <p class="text-danger">Please reenter valid information</p>

    }
    else
    {

        <div class="row">
            <div class="col-md">
                <h3>User Nutrient Info</h3>
                <table class="table table-sm">
                    <tr>
                        <th>Recommended caloric intake</th>
                        <td>@Model.recommendedCalories calories</td>
                    </tr>
                    <tr>
                        <th>Recommended protein intake</th>
                        <td>@Model.recommendedProtein grams</td>
                    </tr>
                    <tr>
                        <th>Recommended carb intake</th>
                        <td>@Model.recommendedCarbs grams</td>
                    </tr>
                    <tr>
                        <th>Recommended fat intake</th>
                        <td>@Model.recommendedFat grams</td>
                    </tr>
                </table>

            </div>
            <div class="col-md">
                <h3>Diet Nutrient Info</h3>
                <table class="table table-sm">
                    <tr>
                        <th>Caloric intake</th>
                        <td>@Model.dietCalories calories</td>
                    </tr>
                    <tr>
                        <th>Protein Intake</th>
                        <td>@Model.dietProtein grams</td>
                    </tr>
                    <tr>
                        <th>Carb Intake</th>
                        <td>@Model.dietCarbs grams</td>
                    </tr>
                    <tr>
                        <th>Fat Intake</th>
                        <td>@Model.dietFat grams</td>
                    </tr>

                </table>
            </div>
        </div>





        @for (int i = 0; i < Model._diet.Count; i++)
        {
            <div class="container-md">
                <br />
                <div class="row justify-content-around">
                    @foreach (Food food in Model._diet[i].foods)
                    {
                        <div class="col-md-6">
                            <p style="font-size: 20px;"><strong>@food.name</strong></p>
                        </div>
                        <div class="col-md-2">
                            <p>@food.servingSize grams</p>
                        </div>
                    }
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <table class="table table-sm table-responsive table-borderless">
                            <thead>
                                <tr>
                                    <th>Calories</th>
                                    <th>Protein</th>
                                    <th>Carbs</th>
                                    <th>Fat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model._diet[i].totalCals calories</td>
                                    <td>@Model._diet[i].totalProtein grams</td>
                                    <td>@Model._diet[i].totalCarbs grams</td>
                                    <td>@Model._diet[i].totalFat grams</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="row justify-content-center">
                    <div class="col">
                        <form method="post" asp-page-handler="GoToEditMeal">
                            <input type="hidden" value="@i" name="mealIndex" />
                            <button type="submit" class="btn btn-info edit-button" value="Submit">Edit</button>
                        </form>

                    </div>
                    <div class="col">
                        <form method="post" asp-page-handler="DeleteMeal">
                            <input type="hidden" value="@i" name="deleteIndex" />
                            <button type="submit" class="btn btn-danger edit-button" value="Submit">Delete</button>
                        </form>
                    </div>

                </div>
                <br />
            </div>

        }
        <div class="row">
            <div class="col">
                <form method="post" asp-page-handler="SaveDiet">
                    <input type="hidden"  name="jsonDiet" />
                    <button type="submit" class="btn btn-primary" value="Submit">Save Diet</button>
                </form>
            </div>
            <div class="col">
                <form method="post" asp-page-handler="AddMeal">
                    <input type="hidden"  name="jsonDiet" />
                    <button type="submit" class="btn btn-success" value="Submit">Add Meal</button>
                </form>

            </div>
        </div>
        

    }



</div>





@section Scripts{

}



